{% load static helpers_tags %}<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% block head_title %}Djoe examples{% endblock %}</title>

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<script src="{% get_static_prefix %}js/jquery-1.6.4.min.js"></script>

		<link href="{% get_static_prefix %}twitter-bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="{% get_static_prefix %}css/custom.css" rel="stylesheet" />
		
		{% block extra_head %}{% endblock %}
	</head>

	<body>
		<div class="topbar">
			<div class="topbar-inner">
				<div class="container">
					<a class="brand" href="{% url examples %}">Djoe examples</a>
					<ul class="nav">
						{% menuitem store %}Store{% endmenuitem %}
						{# {% menuitem wiki %}Wiki{% endmenuitem %} #}
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			{% block base_content %}
			<div class="row">
				<div class="span12 main-content">
					{% block main_content %}{% endblock %}
				</div>
				<div class="span4 secondary-content">
					{% block secondary_content %}{% endblock %}
				</div>
			</div>
			{% endblock %}

			<footer>
				<div class="row">
					<div class="span12">
						<address>
							E-mail: <a href="#">info@djoehq.com</a>
						</address>
					</div>
					<div class="span4">
						<p>&copy; 2011&ndash;{% now "Y" %} Djoe examples</p>
					</div>
				</div>
			</footer>

		</div> <!-- /container -->
	</body>
</html>
