html {
    font: 75% arial,helvetica,sans-serif;
}

.k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-numerictextbox, .k-dropdown, .k-selectbox {
     width: 100%;
}

body {
    margin: 0;
}

body > .topbar, body > .container {
    width: 92%;
    margin: 0px auto;
}

body > .container {
    margin-top: 10px;
}

.clear {
   clear: both;
}

.topbar-container { 
   height: 50px;
}

.topbar-container > div { 
    float:left;
}

.topbar-container .topbar-brand{
   padding: 10px 20% 0px 20px;
   font-size: 2.5em;
}

.topbar-container .topbar-prop {
   padding-top: 15px;
   float: right;
}

.topbar-container .topbar-menu {
   padding-top: 15px;
}
.topbar-menu ul {
    font-size: 1.3em;
}

.topbar-container ul, .topbar-container li {
    border-width:0px;
}

.topbar-container ul.k-group li.k-item.divider {
   border-bottom: 1px solid #f3f3f3;
   height: 5px;
}

.sidebar {
    float:left;
}

.content {
   padding-left: 220px;
}

.tree-grid button.btn{
    padding: 1px;
    margin: 1px;
}

label {
    display: inline-block;
    float: none;
    width: auto;
}

.search_field {
    white-space: pre-wrap;
}

.search_field label {
    display: block;
    font-weight: bold;
    float:left;
}

.m2o_field {
    white-space:nowrap;
}

.search_form span, .edit_form span{
    display:inline-block;
}

.search_form span.form_field {
    display:block;
}


.search_form input, .search_form select{
    width: auto;
    display: block;
    clear: both;
}

.edit_form .form_field input:text, .edit_form .form_field select, .edit_form .form_field textarea {
    width: 99%;
    display:inline-block;
}

.form_field input:text, .form_field select {
    height: 20px;
    line-height: 20px;
    padding: 1px 2px;
    margin: 2px 1px;
}


span.form_field a.k-icon {
    margin: 5px 0 0 3px;
}

.form_field .k-icon:hover {
    background-color: #e5e5e5;
}

.group_treeview .k-group {
    background: none;
}

.k-group {
    display: none;
}

.expanded {
    display:block;
}

.required_field {
    background: #aaaaef;
}

.errorsDialog {
    font-size: 1.2em;
}

.errorsDialog ul li{
    list-display:none;
    color: #e22;
}

.error-field {
    background-color: #f3aaaa;
}

.separator_horizontal {
    width: 98%;
    border-bottom: 1px solid #222;
    font-weight: bold;
    display:inline-block;
    margin:4px 1px;
}

.separator_vertical {
    width:3px;
    display:inline-block;
}

.edit_form div,  .edit_form span{
    vertical-align:top;
}

span.form_field {
    display:inline-block;
}

div.form_group {
    display:inline-block;
    vertical-align:top;
}

button img {
    width: 16px;
    height: 16px;
    margin: 0px 3px;
}

.edit_form button.btn, .search_form button.btn {
    padding: 2px 4px;
}
