<div class="edit_form"  style="font-size:0.85em;">

  <form action="{{ form_view.get_url }}" method="post">{% csrf_token %}

  <div>
    <button type="submit" class="btn">Save</button>
           |
    <a href="{% if form_view.form_view_id %}{% url ajax_object_edit_with_view form_view.oe_model 0 form_view.form_view_id %}{% else %}{% url ajax_object_edit form_view.oe_model 0 %}{% endif %}" class="btn">New</a>
  </div>

  <div>
  {% autoescape off %}
  {{ form_view.get_html }}
  {% endautoescape %}
  </div>
  </form>
</div>
